k---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Just making apps to make work easier"
	pubDate={new Date('Feb 24 2026')}
	heroImage="/beebook.png"
>
		

	<p>
		Placeholder website to document apps for making work easier. Will probbably use a lot of bee themed art to make it more interesting and less dry.
	</p>

	<p>
		Most art is done using AI tools. Curerntly....
	</p>
</Layout>
