---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Privacy Policy"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2021')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		Lorem ipsum . Integer quis auctor elit sed vulputate mi. Dictumst quisque sagittis purus sit amet.
	</p>

	<p>
		Morbi tristique . Sed tempus urna et pharetra pharetra
		massa massa ultricies mi.
	</p>

	<p>
		Mollis nunc non. Amet dictum sit amet justo donec enim.
	</p>

	<p>
		Mattis ullamcorper  mi.
	</p>

	<p>
		Tempus gravida. Egestas integer eget aliquet nibh praesent tristique magna.
	</p>
</Layout>
